---
import Logo from './Logo.astro'
import Nav from './Nav.astro'
import Button from '../Button.astro'
import Icon from '../Icon.astro'
---

<header>
  <div class="container">
    <Logo />
    <Nav />
    <div class="actions">
      <Button href="https://dashboard.forge.codeserk.es/">
        <Icon name="login" size={16} />
        Connect
      </Button>
    </div>
  </div>
</header>

<style>
  header {
    .container {
      max-width: 1024px;
      margin: 0 auto;
      padding: 1rem 1.5rem;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }
  }
</style>
