---
---

<nav>
  <a href="/#products">Products</a>
  <a href="/#pricing">Pricing</a>
  <a href="/docs">Docs</a>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      color: var(--color-text-subtle);
      font-size: var(--font-md);
      text-decoration: none;
      letter-spacing: 0.05em;
    }

    a:hover {
      color: var(--color-primary);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }



</style>
